/* MainPage_audio.css */
.main-page-audio {
  text-align: center;
  margin-top: 50px;
}

.main-page-audio h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  text-align: center; /* Center-align the buttons */
}

.record-button,
.stop-button {
  display: inline-block; /* Display buttons side by side */
  padding: 10px 20px;
  margin: 0 5px; /* Adjusted margin */
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.record-button {
  background-color: #007bff;
  color: white;
}

.stop-button {
  background-color: #007bff;
  color: white;
}
